@font-face {
    font-family: myFirstFont;
    src: url(./font/YekanNumbers-Regular.woff);
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
.a-bg-dark {
    background-color: #303030!important;
}

@font-face {
    font-family: 'IRANSansWeb';
    src: url('./font/IRANSansMobile.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansWebBold';
    src: url('./font/IRANSansMobile_Bold.ttf');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'IRANSansWeblight';
    src: url('./font/IRANSansMobile_Light.ttf');
    font-weight: lighter;
    font-style: light;
}

@font-face {
    font-family: 'IRANSansWebmedium';
    src: url('./font/IRANSansMobile_Medium.ttf');
    font-weight: normal;
    font-style: medium;
}

@font-face {
    font-family: 'IRANSansWebultralight';
    src: url('./font/IRANSansMobile_UltraLight.ttf');
    font-weight: lighter;
    font-style: ultralight;
}

body {
    font-family: IRANSansWeb !important;
}
/* خط زیر هدر بالا */
.a-border-bottom{
    border-bottom: 1px solid #45454575!important;
}
/* ایکون های هدر بالای */

.a-img {
    border: 1px solid white;
    padding: 0.3rem;
    border-radius: 0.9rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0rem;
    margin-left: 0.9rem;
    margin-right: 2rem !important;
    /* margin-top: 10%; */
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
}

.a-img2 {
    border: 1px solid white;
    padding: 0.5rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-bottom: 0rem;
    padding-top: -0.8rem;
    border-radius: 0.9rem;
    /* margin-top: 10%; */
    cursor: pointer;
    font-size: 1.3rem;
    color: white;
}



/* سایز فونت و اندازه width هدر بالا ثابت */

@media only screen and (max-width:600px) {
    .a-width-text-header {
        width: 30% !important;
        text-align: center !important;
    }
}

@media only screen and (max-width:357px) {
    .a-width-text-header {
        font-size: 0.9rem !important;
        width: 29.2% !important;
        text-align: center !important;
    }
}

@media only screen and (max-width:339px) {
    .a-width-text-header {
        font-size: 0.8rem !important;
        width: 30.5% !important;
        text-align: center !important;
    }
}

/* سایز فونت و اندازه width هدر بالا ثابت */

/* __________________________________________ */

/* خط های زیر عناوین فهرست */

.a-satyl-list {
    width: 6rem;
    margin-top: 1rem;
    border-bottom: 4px solid rgb(255, 204, 0);
    box-shadow: 0px 0px 20px 1px rgb(255, 204, 0);
}

.a-satyl-list-2 {
    width: 8rem;
    margin-top: 1rem;
    border-bottom: 4px solid rgb(255, 204, 0);
    box-shadow: 0px 0px 20px 1px rgb(255, 204, 0);
}

.a-satyl-list-3 {
    width: 5rem;
    margin-top: 1rem;
    border-bottom: 4px solid rgb(255, 204, 0);
    box-shadow: 0px 0px 20px 1px rgb(255, 204, 0);
}

/* خط های زیر عناوین فهرست پایان */

.a-letter {
    letter-spacing: 1px !important;
}

.a-text-footer {
    margin-top: 3rem;
    border-top: 2px solid rgba(128, 128, 128, 0.316);
}

.a-line-footer b {
    width: 100% !important;
    border-bottom: 1px solid rgba(179, 179, 179, 0.645) !important;
}

.a-style-text-footer {
    width: 40%;
    margin-top: 1rem;
    border-bottom: 4px solid rgb(255, 204, 0);
    box-shadow: 0px 0px 20px 0px rgb(255, 204, 0);
    border-radius: 5px;
    margin-right: 3.6rem;
}

.a-left-line-1 {
    width: 83%;
    margin-top: 1rem;
    border-bottom: 1px solid rgb(126, 126, 126);
    box-shadow: 0px 0px 20px 0px rgb(67 67 67);
    border-radius: 5px;
}

.a-right-line-2 {
    width: 83% !important;
    margin-top: 1rem;
    border-bottom: 1px solid rgb(126, 126, 126);
    box-shadow: 0px 0px 20px 0px rgb(67, 67, 67);
    border-radius: 5px;
    margin-right: 6rem;
}

.a-text-lg {
    font-size: 1.2rem;
}

/* استایل خط های جدا کننده مطالب سایت */

.a-line-footer1 {
    width: 40%;
    margin-top: 1rem;
    border-bottom: 4px solid rgb(255, 204, 0);
    box-shadow: 0px 0px 20px 0px rgb(255 204 0);
    border-radius: 5px;
    margin-right: 3.5rem;
}

@media only screen and (max-width:575px) {
    .a-line-footer1 {
        width: 100% !important;
        margin-right: 0px !important;
    }
}

.a-line-footer2 {
    width: 40%;
    margin-top: 1rem;
    border-bottom: 4px solid rgb(255, 204, 0);
    box-shadow: 0px 0px 20px 0px rgb(255 204 0);
    border-radius: 5px;
    margin-right: 3.4rem;
}

.a-right-line-footer2 {
    margin-top: 1rem;
    border-bottom: 1px solid rgb(102, 102, 102);
    box-shadow: 0px 0px 20px 0px rgb(67 67 67);
    border-radius: 5px;
    width: 100%;
}

.a-left-line-footer2 {
    margin-top: 1rem;
    border-bottom: 1px solid rgb(102, 102, 102);
    box-shadow: 0px 0px 20px 0px rgb(67 67 67);
    border-radius: 5px;
    width: 100% !important;
}

/* پایان استایل خط های جدا کننده مطالب سایت */

/* ___________________________________________ */

/* باکس جستجو */

.a-search-bar {
    width: 70% !important;
    margin-right: 3rem !important;
    bottom: 50% !important;
    border-radius: 1.4rem !important;
    height: 48px !important;

}

@media only screen and (max-width:865px) {
    .a-search-bar {
        margin-right: 0% !important;
    }
}

@media only screen and (max-width:575px) {
    .a-search-bar {
        width: 100% !important;
        margin-right: 0% !important;
    }
}

/* 
@media only screen and (max-width:575px) {
    .a-icon-buypro {
        width: 100% !important;
        text-align: center !important;
    }
}

.a-icon-buypro {
    margin: auto !important;
} */

.input-group-prepend {
    margin-top: 0.3rem !important;
}

.a-btn-pad-left:focus {
    box-shadow: none !important;
}

.a-btn-search:focus {
    box-shadow: none !important;
}

.a-btn-search:hover {
    background-color: rgba(210, 204, 192, 0.648)!important;
    border-radius: 2rem !important;
}


@media only screen and (max-width:575px) {
    .a-icon-buypro {
        width: 100% !important;
        text-align: center !important;
    }
}

.a-icon-buypro {
    margin: auto !important;
}

.input-group-prepend {
    margin-top: 0.3rem !important;
}

.a-btn-pad-left {
    padding-right: 2rem !important;
    border-radius: 2rem !important;
    padding-top: 0.8rem !important;

}



.a-bg-secondary-tabbar2 {
    background-color: #434444ba!important;
    border-color: none !important;
}

.line-height {
    margin-top: -3rem !important;
}

/* استایل اسلایدر زرد اخر صفحه */

/* شماره روی سبد خرید */
/* استایل عدد 2 روی سبد خرید */

.a-badge-buy {
    font-size: 0.45em !important;
    font-weight: 900 !important;
    vertical-align: top!important;
    border-radius: 1.25rem !important;
    position: absolute!important;
    top: 3.4rem !important;
}

@media only screen and (max-width:575px) {
    .a-badge-buy {
        font-size: 0.45em !important;
        font-weight: 900 !important;
        vertical-align: top!important;
        border-radius: 1.25rem !important;
        position: absolute!important;
        top: 10rem !important;
        ;
    }
}

@media only screen and (max-width:301px) {
    .a-badge-buy {
        font-size: 0.45em !important;
        font-weight: 900 !important;
        vertical-align: top!important;
        border-radius: 1.25rem !important;
        position: absolute!important;
        top: 10.7rem !important;
    }
}

@media only screen and (max-width:214px) {
    .a-badge-buy {
        font-size: 0.45em !important;
        font-weight: 900 !important;
        vertical-align: top!important;
        border-radius: 1.25rem !important;
        position: absolute!important;
        top: 13rem !important;
    }
}

/* _____________________________ */


/* شماره روی سبد خرید */

/* ________________________ */

/* استایل قسمت هزینه محصولات */

.a-border-bott {
    border-bottom: 2px solid #6e6e6e33 !important;
    width: 80% !important;
    margin-right: 2rem !important;
}

.a-rounded-pill {
    border-radius: 2rem !important;
}

/* استایل قسمت هزینه محصولات */

/* استایل جدول */

.a-col-width {
    /* width: 24% !important; */
    height: 100% !important;
}

.a-col-height {
    height: 100% !important;
}

.a-font {
    font-family: IRANSansWeb !important;
    font-weight: 200 !important;
}

.a-row-color {
    background-color: #4b4b4b8a !important;
}

.a-row-table-rounded {
    border-radius: 1rem !important;
}

.a-shadow-table {
    box-shadow: -8px 20px 20px 14px #00000030;
}

/* استایل جدول */

/* _____________ */

/* استایل بخش اینپوت آپشن ها */

.a-radio-text {
    margin-right: 2rem;
    font-size: 100%;
    font-weight: 500;
}

.a-radio-text2 {
    margin-right: 2rem;
    font-size: 100%;
    font-weight: 500;
}

/* استایل مربوط به radio */

input[type='radio']:after {
    width: 15px !important;
    height: 15px !important;
    border-radius: 15px !important;
    top: -2px !important;
    position: relative !important;
    background-color: #ffffff !important;
    content: '' !important;
    display: inline-block !important;
    visibility: visible !important;
    border: 2px solid rgb(255, 204, 0) !important;
    box-shadow: 1px 1px 14px #ffffff!important;
}
input[type='radio']:checked:after {
    width: 15px !important;
    height: 15px !important;
    border-radius: 15px !important;
    position: relative !important;
    background-color: #fcbe06 !important;
    content: '' !important;
    display: inline-block !important;
    visibility: visible !important;
    border: 2px solid white !important;
}

.a-rounded-rad {
    border-radius: 1.3rem !important;
    padding: 1rem !important;
    /* width: 80%; */
    height: 60%;
}

.a-rounded-rad-adres {
    border-radius: 1rem !important;
    padding: 1rem !important;
}

.a-border-col-rad {
    border: 2px solid black !important;
    border-radius: 1.5rem !important;
}

.a-shadow-option {
    text-shadow: 2px 4px black !important;
}

/* سایه دور باکس ها */

.a-shadow-rad {
    box-shadow: 2px 4px 20px 0px #00000082;
}

.a-shadow-adres {
    box-shadow: 0px 20px 20px 6px #49494963;
    border-radius: 2rem;
    z-index: 1;
}

استایل باکس جستحو .input-group-text input {
    color: #ffc107 !important;
}

.a-width-cols {
    /* width: 41% !important; */
    box-shadow: inset 0 0 5px 0px #454545ad !important;
}

.a-width-button {
    border-radius: 1.3rem;
    font-weight: 500;
    width: 100% !important;
}

.a-width-button2 {
    border-radius: 1.3rem !important;
    font-weight: 500 !important;
    padding: 15% !important;
    padding-top: 4% !important;
    padding-bottom: 4% !important;
    padding-right: 5% !important;
}

.form-control:focus {
    box-shadow: none !important;
}

.a-width-button:hover {
    background-color: rgb(255, 201, 75) !important;
}

/* دکمه افزودن آدرس */

.a-font-plus {
    font-size: 1.5rem !important;
    position: relative;
    top: 0.4rem !important;}

.a-t-adres {
    font-family: 'IRANSansWeblight';
}

/* آیکون های سطل زباله و مداد */

.a-bor-icon {
    border: 2px solid #ffc107;
    /* margin: -0.6rem; */
    padding: 0.5rem;
    /* padding-bottom: 0.5rem; */
    /* padding-top: 0.5rem; */
    padding-left: 0.6rem;
    padding-right: 0.4rem;
    /* border: 2px solid white; */
    margin-left: 0.5rem;
    border-radius: 1rem;
}

.a-bor-icon2 {
    border: 2px solid rgb(239 142 99) !important;;
    /* margin: -0.6rem; */
    padding: 0.6rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 1.6rem;
    /* border: 2px solid white; */
    margin-left: 0.5rem;
    border-radius: 1rem;
}
.a-color-icon{
    color:rgb(239 142 99) !important;
}
.a-col-border {
    border: 2px solid #000000b3;
    border-radius: 1.2rem;
}

.a-col-border-2 {
    /* border: 2px solid #000000b3; */
    border-radius: 1.4rem;
}

/* نوشته های داخل جدول */

.a-text-shadow-white div {
    text-shadow: 1px 1px 20px white;
}

/* فاصله پایین ادرس بار از فوتر */

.a-margin-adres {
    margin-bottom: 10rem!important;
}

.a-shadow-pardakht {
    box-shadow: 0px 7px 20px 7px #00000063;
}

.a-btn-yellow {
    box-shadow: 0px 0px 20px 7px #ffd3319c !important;
}

@media only screen and (max-width: 575px) {
    .a-satyl-list, .a-satyl-list-2, .a-satyl-list-3 {
        width: 100% !important;
    }
    .a-text-center {
        text-align: center !important;
    }
}

@media only screen and (max-width:600px) {
    .a-t-adres {
        width: 30% !important;
        text-align: center !important;
    }
}

@media only screen and (max-width:357px) {
    .a-t-adres {
        font-size: 0.9rem !important;
        width: 29.2% !important;
        text-align: center !important;
    }
}

@media only screen and (max-width:339px) {
    .a-t-adres {
        font-size: 0.8rem !important;
        width: 30.5% !important;
        text-align: center !important;
    }
}

@media only screen and (max-width:575px) {
    .a-width-cols {
        justify-content: center !important;
        margin-top: 1rem !important;
    }
}

@media only screen and (max-width:575px) {
    .a-btn-yellow {
        width: 100% !important;
        text-align: center !important;
    }
}

@media only screen and (max-width:575px) {
    .a-row-color {
        text-align: center !important;
        margin-top: 1rem !important;
    }
    .a-col-width {
        text-align: center !important;
        margin-top: 1rem !important;
    }
}

/* تنظیمات ریسپانسیو قسمت هزینه ها */

@media only screen and (max-width:768px) {
    .a-col-width {
        text-align: center !important;
        margin-top: -0.1rem !important;
        display: inline-flex;
        align-items: baseline;
        justify-content: space-around;
        font-size: 1rem !important;
    }
}

@media only screen and (max-width:330px) {
    .a-col-width {
        text-align: center !important;
        display: inline-flex;
        align-items: baseline;
        font-size: 0.7rem !important;
        margin-top: -0.1rem !important;
    }
}

@media only screen and (max-width:425px) {
    .a-col-width {
        text-align: center !important;
        display: inline-flex;
        align-items: baseline;
        font-size: 0.9rem !important;
        margin-top: -0.1rem !important;
    }
}

@media only screen and (max-width:480px) {
    .a-col-width {
        text-align: center !important;
        display: inline-flex;
        align-items: baseline;
        font-size: 0.7rem !important;
        margin-top: -0.1rem !important;
    }
}
@media only screen and (max-width:767px) {
    .a-col-width2 {
        margin-top: 1rem !important;
    }
}

.a-font-sizebold100{
    font-weight: 100 !important;
}
.a-font-size-price {
    font-size: 1rem;
}

@media only screen and (max-width:575px) {
    .a-flex-dis {
        display: flex !important;
    }
}
/* سایز ایکون  */
@media only screen and (max-width:575px) {
    .a-size-xs {
        width: 25% !important;
    }
}
