@font-face {
    font-family: 'IRANSansWeb';
    src: url('./font/IRANSansMobile.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansWebBold';
    src: url('./font/IRANSansMobile_Bold.ttf');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'IRANSansWeblight';
    src: url('./font/IRANSansMobile_Light.ttf');
    font-weight: lighter;
    font-style: light;
}

@font-face {
    font-family: 'IRANSansWebmedium';
    src: url('./font/IRANSansMobile_Medium.ttf');
    font-weight: normal;
    font-style: medium;
}

@font-face {
    font-family: 'IRANSansWebultralight';
    src: url('./font/IRANSansMobile_UltraLight.ttf');
    font-weight: lighter;
    font-style: ultralight;
}

body {
    font-family: IRANSansWeb !important;
}

/* خط زیر هدر بالا */

.a-border-bottom {
    border-bottom: 1px solid #45454575!important;
}

/* ایکون های هدر بالای */

.a-img {
    border: 1px solid white;
    padding: 0.3rem;
    border-radius: 0.9rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0rem;
    margin-left: 0.9rem;
    margin-right: 2rem !important;
    /* margin-top: 10%; */
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
}

.a-img2 {
    border: 1px solid white;
    padding: 0.5rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-bottom: 0rem;
    padding-top: -0.8rem;
    border-radius: 0.9rem;
    /* margin-top: 10%; */
    cursor: pointer;
    font-size: 1.3rem;
    color: white;
}

/* استایل عدد 2 روی سبد خرید */

.a-badge-buy {
    font-size: 0.45em !important;
    font-weight: 900 !important;
    vertical-align: top!important;
    border-radius: 1.25rem !important;
    position: absolute!important;
    top: 3.4rem !important;
}

@media only screen and (max-width:575px) {
    .a-badge-buy {
        font-size: 0.45em !important;
        font-weight: 900 !important;
        vertical-align: top!important;
        border-radius: 1.25rem !important;
        position: absolute!important;
        top: 10rem !important;
        ;
    }
}

@media only screen and (max-width:301px) {
    .a-badge-buy {
        font-size: 0.45em !important;
        font-weight: 900 !important;
        vertical-align: top!important;
        border-radius: 1.25rem !important;
        position: absolute!important;
        top: 10.7rem !important;
    }
}

@media only screen and (max-width:214px) {
    .a-badge-buy {
        font-size: 0.45em !important;
        font-weight: 900 !important;
        vertical-align: top!important;
        border-radius: 1.25rem !important;
        position: absolute!important;
        top: 13rem !important;
    }
}

/* _____________________________ */

/* سایز فونت و اندازه width هدر بالا ثابت */

@media only screen and (max-width:600px) {
    .a-width-text-header {
        width: 30% !important;
        text-align: center !important;
    }
}

@media only screen and (max-width:357px) {
    .a-width-text-header {
        font-size: 0.9rem !important;
        width: 29.2% !important;
        text-align: center !important;
    }
}

@media only screen and (max-width:339px) {
    .a-width-text-header {
        font-size: 0.8rem !important;
        width: 30.5% !important;
        text-align: center !important;
    }
}

/* سایز فونت و اندازه width هدر بالا ثابت */

/* __________________________________________ */

/* خط های زیر عناوین فهرست */

.a-satyl-list {
    width: 6rem;
    margin-top: 1rem;
    border-bottom: 4px solid rgb(255, 204, 0);
    box-shadow: 0px 0px 20px 1px rgb(255, 204, 0);
}

.a-satyl-list-2 {
    width: 8rem;
    margin-top: 1rem;
    border-bottom: 4px solid rgb(255, 204, 0);
    box-shadow: 0px 0px 20px 1px rgb(255, 204, 0);
}

.a-satyl-list-3 {
    width: 5rem;
    margin-top: 1rem;
    border-bottom: 4px solid rgb(255, 204, 0);
    box-shadow: 0px 0px 20px 1px rgb(255, 204, 0);
}

/* خط های زیر عناوین فهرست پایان */

.a-letter {
    letter-spacing: 1px !important;
}

.a-text-footer {
    margin-top: 3rem;
    border-top: 2px solid rgba(128, 128, 128, 0.316);
}

.a-line-footer b {
    width: 100% !important;
    border-bottom: 1px solid rgba(179, 179, 179, 0.645) !important;
}

.a-style-text-footer {
    width: 40%;
    margin-top: 1rem;
    border-bottom: 4px solid rgb(255, 204, 0);
    box-shadow: 0px 0px 20px 0px rgb(255, 204, 0);
    border-radius: 5px;
    margin-right: 3.6rem;
}

.a-left-line-1 {
    width: 83%;
    margin-top: 1rem;
    border-bottom: 1px solid rgb(102, 102, 102);
    box-shadow: 0px 0px 20px 0px rgb(67 67 67);
    border-radius: 5px;
}

@media only screen and (max-width:600px) {
    .a-left-line-1, .a-right-line-2 {
        width: 100% !important;
    }
    .a-style-text-footer {
        width: 100% !important;
        margin-right: 0px !important;
    }
    .a-right-line-2 {
        width: 100% !important;
        margin-right: 0px !important;
    }
}

.a-right-line-2 {
    width: 83%;
    margin-top: 1rem;
    border-bottom: 1px solid rgb(102, 102, 102);
    box-shadow: 0px 0px 20px 0px rgb(67, 67, 67);
    border-radius: 5px;
    margin-right: 6rem;
}

.a-text-lg {
    font-size: 1.2rem;
}

/* پایین استایل کارت های اسلایدر */

/* .row-equal>div {
    display: flex;
    flex: auto;
}

.row-equal .card {
    width: 100%;
}

.carousel-inner>.row-equal.active, .carousel-inner>.row-equal.next, .carousel-inner>.row-equal.prev {
    display: flex;
    visibility: hidden;
} */

/* نقطه های اسلایدر پایین */

.a-indicators-footer {
    width: 100% !important;
    height: 5% !important;
    margin: 0px !important;
    margin-bottom: 0.25rem !important;
}

.a-indicators-footer button {
    height: 10px !important;
    width: 10px !important;
    border-radius: 100% !important;
}

/* استایل کارت های اسلایدر پایین صفحه */

.a-font-number {
    font-family: IRANSansWeblight !important;
    font-size: 1rem !important;
    font-weight: 100 !important;
    padding-left: 0.5rem !important;
}

.a-font-link {
    font-size: 1.20rem !important;
    font-weight: 100 !important;
}

.form-control {
    border-radius: 20px !important;
    width: 27rem !important;
    height: 3rem !important;
}

/* ا--------------------------------- */

/*  پایان استایل کارت های اسلایدر */

.card {
    border-radius: 20px !important;
    width: 93% !important;
}

.pr-0 {
    padding-right: 50px !important;
    padding-left: 50px !important;
}

.mr-0 {
    margin-right: 0px !important;
}

.bottom-0 {
    left: 50% !important;
    bottom: 0% !important;
}

.a-list2 {
    padding-right: 3rem !important;
}

.a-search-tabbar {
    width: 120px !important;
    height: 50px !important;
    border-radius: 20px !important;
    box-shadow: 0px 0px 10px 0px rgb(255 204 0);
    font-size: 17px !important;
    font-weight: bold !important;
}

/* تب بار بالای سایت */

.a-tabbar-border {
    border-radius: 1rem !important;
    border-top-right-radius: 0px !important;
    height: 6rem !important;
    box-shadow: 0px 5px 20px 0px rgb(67 67 67 / 50%);
}

.a-nav-tabs {
    border-radius: 15px !important;
    height: 45% !important;
    border-bottom: 0px !important;
}

.a-btn-tabbar {
    width: 12.2rem !important;
    height: 100% !important;
    border-top-right-radius: 1rem !important;
    border-right: 0px !important;
    border-top: 0.75rem !important;
}

.a-btn-tabbar-2 {
    width: 12rem !important;
    height: 100% !important;
    border-top-left-radius: 1rem !important;
    background-color: rgba(128, 128, 128, 0.215);
    border-top-width: 0px !important;
    border-left-width: 0px !important;
}

.a-margin-tabbar {
    margin-top: -7.5rem !important;
    z-index: 1 !important;
}

@media only screen and (max-width:575px) {
    .a-margin-tabbar {
        width: 100% !important;
        margin-top: -2.3rem !important;
        z-index: 1 !important;
    }
    .a-btn-tabbar {
        display: none !important;
    }
    .a-btn-tabbar-2 {
        display: none !important;
    }
}

.navbar-collapse {
    white-space: break-spaces !important;
}

/* _____________________________پایان تب بار  */

/* استایل تصاویر زرد در قسمت مطالب صفحه */

.a-pic-yellow1 {
    border-radius: 1rem !important;
    box-shadow: 0px 10px 20px 1px rgb(160 142 14 / 62%) !important;
    width: 130% !important;
    height: 100% !important;
}

@media only screen and (max-width:576px) {
    .a-pic-yellow1 {
        width: calc(130% - 7rem)!important;
        text-align: center !important;
        margin-right: 1rem;
    }
    .a-pic-yellow2 {
        max-width: calc(130% - 7rem)!important;
        text-align: center !important;
        margin-right: 1rem;
        margin-top: 1rem;
    }
    .a-pic-yellow3 {
        max-width: calc(130% - 7rem)!important;
        text-align: center !important;
        margin-right: 1rem;
        margin-top: 2rem;
    }
}

@media only screen and (max-width:300px) {
    .a-pic-yellow1 {
        width: calc(130% - 2rem)!important;
        text-align: center !important;
        margin-right: 1rem
    }
    .a-pic-yellow2 {
        max-width: calc(130% - 2rem)!important;
        text-align: center !important;
        margin-right: 1rem
    }
    .a-pic-yellow3 {
        max-width: calc(130% - 2rem)!important;
        text-align: center !important;
        margin-right: 1rem
    }
}

.a-pic-yellow2 {
    border-radius: 1rem !important;
    box-shadow: 0px 10px 20px 1px rgba(239, 214, 25, 0.783) !important;
    width: 130% !important;
    height: 100% !important;
}

.a-pic-yellow3 {
    border-radius: 1rem !important;
    box-shadow: 0px 10px 20px 1px rgba(101, 66, 7, 0.886) !important;
    width: 130% !important;
    height: 100% !important;
}

.yellow-pic-position {
    position: relative !important;
    left: 4.5% !important;
    WIDTH: 104.2% !important;
}

/* ________________ */

/* استایل کارت های خاکستری رنگ */

/* .a-width-row {
    width: 87.6% !important;
    height: 100% !important;
    margin-right: 4.85rem !important;
}
@media only screen and (max-width:575px){
    .a-width-row {
margin-right: 0% !important;
    }
} */

.a-size-img1 {
    width: 20% !important;
    height: 55% !important;
}

.a-size-img2 {
    width: 19% !important;
    height: 45% !important;
}

.a-size-img3 {
    width: 20% !important;
    height: 53% !important;
}

.a-size-img4 {
    width: 24% !important;
    height: 55% !important;
}

.a-card-img-size {
    box-shadow: 0px 3px 19px -3px rgba(55, 55, 55, 0.523) !important;
    border-radius: 1.75rem !important;
}

.a-font-b {
    font-size: 0.9rem!important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-weight: 500 !important;
}

/* ___________________________________ */

/* استایل خط های جدا کننده مطالب سایت */

.a-line-footer1 {
    width: 40%;
    margin-top: 1rem;
    border-bottom: 4px solid rgb(255, 204, 0);
    box-shadow: 0px 0px 20px 0px rgb(255 204 0);
    border-radius: 5px;
    margin-right: 3.1rem;
}

@media only screen and (max-width:575px) {
    .a-line-footer1 {
        width: 100% !important;
        margin-right: 0px !important;
    }
}

.a-line-footer2 {
    width: 40%;
    margin-top: 1rem;
    border-bottom: 4px solid rgb(255, 204, 0);
    box-shadow: 0px 0px 20px 0px rgb(255 204 0);
    border-radius: 5px;
    margin-right: 3.4rem;
}

.a-right-line-footer2 {
    margin-top: 1rem;
    border-bottom: 1px solid rgb(102, 102, 102);
    box-shadow: 0px 0px 20px 0px rgb(67 67 67);
    border-radius: 5px;
    width: 100%;
}

.a-left-line-footer2 {
    margin-top: 1rem;
    border-bottom: 1px solid rgb(102, 102, 102);
    box-shadow: 0px 0px 20px 0px rgb(67 67 67);
    border-radius: 5px;
    width: 100% !important;
}

/* .a-title-line{
    margin-right: 57px;
    width: 174px;
} */

/* پایان استایل خط های جدا کننده مطالب سایت */

/* ___________________________________________ */

.a-width-size {
    width: 80% !important;
}

.a-img-slidebar {
    z-index: 1 !important;
    position: relative !important;
    width: 8.888rem;
    height: 9.488rem;
    right: 1.7rem;
}

.a-slider-card {
    width: 85% !important;
    height: 55% !important;
    top: -75px !important;
}

/* @media only screen and (max-width:1199px){
    .a-img-slidebar{
        position: relative !important;
        right: 4.7rem !important;
    }
} */

@media only screen and (max-width:575px) {
    .a-img-slidebar {
        position: relative !important;
        right: 4.7rem !important;
    }
}

@media only screen and (max-width:250px) {
    .a-img-slidebar {
        position: relative !important;
        right: 0.7rem !important;
        width: calc(100% - 1em) !important;
    }
}

.a-text-slider-card {
    position: relative;
    top: 2.6rem !important;
}

.a-heart {
    width: 1.675rem;
    height: 1.563rem;
    position: relative;
    right: 10rem;
    top: 0.713rem;
}

@media only screen and (max-width:1199px) {
    .a-heart {
        position: sticky !important;
        right: 3% !important;
    }
}

@media only screen and (max-width:575px) {
    .a-heart {
        position: absolute !important;
    }
}

.a-card-text {
    font-family: IRANSansWeb!important;
    font-size: 0.90rem !important;
    font-weight: 100 !important;
}

.a-card-first-text {
    font-size: 1.4rem !important;
}

.a-card-price {
    font-family: IRANSansWeb !important;
}

/* کارت ها ی قیمت */

.a-price-card-4 {
    position: absolute;
    top: 1rem;
    font-family: IRANSansWeb;
    direction: ltr;
    right: 2.5rem;
    font-size: 1.1rem;
}

.a-buy {
    position: absolute;
    width: 1.575rem !important;
    height: 1.563rem !important;
    top: 0.7rem;
    left: 0.5rem;
}

.a-buy-icon {
    position: relative;
    width: 1.575rem !important;
    height: 1.563rem !important;
    top: 0.7rem;
    right: 10rem;
}

.a-card-price-text {
    position: absolute !important;
    top: 33%;
    font-family: IRANSansWeb !important;
    direction: ltr !important;
    right: 2.3rem;
    font-size: 1.1rem;
}

/* تنظیمات ریسپانسو کارت های قیمت  */

@media only screen and (max-width:1200px) {
    .a-card-price-text {
        right: 0px !important;
    }
    .a-pos-number {
        right: 0px !important;
    }
    .a-buy-icon {
        right: 8rem!important;
    }
}

.a-size-price {
    font-size: 80% !important;
    direction: ltr !important;
    margin-bottom: 0px !important;
    padding-bottom: 60px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
}

@media only screen and (max-width:992px) {
    .a-card-price-text {
        font-size: 80%;
    }
    .a-size-price {
        font-size: 80% !important;
        direction: ltr !important;
        margin-bottom: 0px !important;
        padding-bottom: 60px !important;
        padding-right: 0px !important;
        padding-top: 0px !important;
    }
    .a-buy-icon {
        right: 5.5rem!important;
    }
}

/* تنظیمات ریسپانسو کارت های قیمت  */

.a-slider-price-card {
    position: absolute !important;
    border-radius: 1rem !important;
}

.a-width-84 {
    width: 84.3%!important;
    padding-right: 3rem !important;
}

.a-pos-number {
    font-family: IRANSansWeb !important;
    direction: ltr !important;
    position: relative !important;
    font-size: 1.2rem !important;
    bottom: 50% !important;
    left: 0.4rem;
    font-weight: 100;
}

/* سایه کارت زرد */

.a-shadow-card {
    box-shadow: 0.4rem 0rem 20px 0px #e8b627c4;
}

/* اندازه کانتینر مطالب */

.a-width-101 {
    padding-left: 7.5rem !important;
    padding-right: 9.5rem !important;
}

/* استایل اخرین اسلایدر زرد  */

.back-color-yellow {
    background-color: burlywood;
}

.a-tire-black {
    position: relative;
    z-index: 1 !important;
    height: 25rem;
    width: 19rem;
    bottom: 9rem;
    right: 2rem;
}

.yellow-slider {
    height: 12rem;
    border-radius: 2rem;
}

.a-row-height-yellow {
    height: 20rem;
    width: 103%;
}

.a-logotire-w-10 {
    width: 75%!important;
}

/* نقطه های اسلایدر بالا هدر */

/* .a-carousel-indicators button {
    height: 10px !important;
    width: 10px !important;
    border-radius: 100% !important;
}

.a-carousel-indicators {
    height: 20% !important;
    margin: 0px !important;
    right: 95% !important;
} */

.a-caro-dot-t {
    right: auto !important;
    margin-left: 0% !important;
    margin-left: 10px !important;
}

.a-caro-dot-t button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 10px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
    transition: width 0.6s !important;
}

.a-caro-dot-t .active {
    width: 25px !important;
    border-radius: 10px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
    box-shadow: rgb(255 204 0) 0px 0px 10px 0px;
}

/* نقطه های اسلایدر بالا هدر پایان*/

.a-caro-dot-f {
    margin-left: 10px !important;
    bottom: 0% !important;
}

.a-caro-dot-f button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 10px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
    transition: width 0.6s !important;
}

.a-caro-dot-f .active {
    width: 25px !important;
    border-radius: 10px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
    box-shadow: rgb(255 204 0) 0px 0px 10px 0px;
}

/* سایه روی تصاویر اسلایدر در بالای صفحه */

/* نقطه های اسلایدر پایین فوتر */

/* .a-caro-dot-t2 {
    right: auto !important;
    margin-left: 0% !important;
    margin-left: 10px !important;
} */

.a-caro-dot-t2 button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 10px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
    transition: width 0.6s !important;
}

.a-caro-dot-t2 .active {
    width: 25px !important;
    border-radius: 10px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
    box-shadow: rgb(255 204 0) 0px 0px 10px 0px;
}

/* نقطه های اسلایدر پایین فوتر */

/* ____________________________ */

.img-gradient {
    position: relative;
    display: inline-block;
}

.img-gradient:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: -moz-linear-gradient(to bottom, rgb(0 47 75 / 0%) 0%, rgb(27 26 26 / 88%) 72%);
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(220, 66, 37, 0.5)), color-stop(100%, rgba(0, 47, 75, 0.5)));

    background: -webkit-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);

    background: -o-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);

    background: -ms-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%); */
    background: linear-gradient(to bottom, rgb(0 47 75 / 0%) 0%, rgb(27 26 26 / 88%) 72%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000', GradientType=0);
}

.img-gradient img {
    display: block;
}

/* سایه روی تصاویر اسلایدر در بالای صفحه پایان */

/* باکس جستجو */

.form-control:focus {
    box-shadow: none !important;
}

.a-search-bar {
    width: 70% !important;
    margin-right: 3rem !important;
    bottom: 50% !important;
    border-radius: 1.4rem !important;
}

@media only screen and (max-width:865px) {
    .a-search-bar {
        margin-right: 0% !important;
    }
}

@media only screen and (max-width:575px) {
    .a-search-bar {
        width: 100% !important;
        margin-right: 0% !important;
    }
}

@media only screen and (max-width:575px) {
    .a-icon-buypro {
        width: 100% !important;
        text-align: center !important;
    }
}

.a-icon-buypro {
    margin: auto !important;
}

.input-group-prepend {
    margin-top: 0.3rem !important;
}

.a-btn-pad-left {
    padding-right: 2rem !important;
}

.a-btn-search:focus {
    box-shadow: none !important;
}

.a-btn-search:hover {
    background-color: rgba(210, 204, 192, 0.648)!important;
    border-radius: 2rem !important;
}

/* باکس جستجو */

.a-bg-secondary-tabbar2 {
    background-color: #434444ba!important;
    border-color: none !important;
}

.card {
    border: 0px !important;
}

.a-carousel-height {
    width: 88.3% !important;
    right: 5.2rem !important;
}

.line-height {
    margin-top: -3rem !important;
}

/* مکان قرار گیری جهت های اسلایدر زرد  */

.a-control-prev {
    right: 10rem !important;
}

.a-control-next {
    left: -3rem !important;
}

.a-margin-top {
    margin-top: 2.2rem !important;
}

@media only screen and (max-width:575px) {
    .a-display-f {
        display: flex !important;
    }
}

@media only screen and (max-width: 991px) {
    .a-control-prev, .a-control-next {
        display: flex !important;
        margin-right: -10rem !important;
        margin-left: 3rem !important;
        margin: 6rem;
    }
}

/* استایل اسلایدر زرد اخر صفحه */

.bi-cart {
    font-size: 2rem !important;
}

.a-r-pre {
    right: -6.7rem !important;
}

.a-r-pre2 {
    left: -4.8rem !important;
}

@media only screen and (max-width:575px) {
    .a-footer-slider-gray {
        height: 17rem !important;
    }
}

@media only screen and (max-width:576px) {
    .a-pre2 {
        width: calc(88.3% - 3rem)!important;
        margin-right: 0px !important;
    }
}

/* استایل لیست های فوتر پایین صفحه */
@media only screen and (max-width: 575px) {
    .a-satyl-list, .a-satyl-list-2, .a-satyl-list-3 {
        width: 100% !important;
    }
    .a-text-center {
        text-align: center !important;
    }
}
/* ____________________________________ */
/* جهت های اسلایدر  */

@media only screen and (max-width:576px) {
    .a-r-pre2 {
        left: 0rem !important;
    }
    .a-r-pre {
        left: 0rem !important;
    }
}

/* ___________________ */

/* راست چین شدن قیمت */

.a-direc-left {
    direction: ltr !important;
}

/* فول شدن دکمه منوی کشویی */

@media only screen and (max-width:576px) {
    .a-width-full {
        width: 100%;
    }
}