@font-face {
    font-family: myFirstFont;
    src: url(./font/YekanNumbers-Regular.woff);
}

.a-bg-dark {
    background-color: #303030!important;
}

@font-face {
    font-family: 'IRANSansWeb';
    src: url('./font/IRANSansMobile.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansWebBold';
    src: url('./font/IRANSansMobile_Bold.ttf');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'IRANSansWeblight';
    src: url('./font/IRANSansMobile_Light.ttf');
    font-weight: lighter;
    font-style: light;
}

@font-face {
    font-family: 'IRANSansWebmedium';
    src: url('./font/IRANSansMobile_Medium.ttf');
    font-weight: normal;
    font-style: medium;
}

@font-face {
    font-family: 'IRANSansWebultralight';
    src: url('./font/IRANSansMobile_UltraLight.ttf');
    font-weight: lighter;
    font-style: ultralight;
}

body {
    font-family: IRANSansWeb !important;
}


.a-font-titr {
    font-family: IRANSansWebbold !important;
}

/* ایکون های هدر بالای */

.a-img {
    border: 1px solid white;
    padding: 0.3rem;
    border-radius: 0.9rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0rem;
    margin-left: 0.9rem;
    margin-right: 2rem !important;
    /* margin-top: 10%; */
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
}

.a-img2 {
    border: 1px solid white;
    padding: 0.5rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-bottom: 0rem;
    padding-top: -0.8rem;
    border-radius: 0.9rem;
    /* margin-top: 10%; */
    cursor: pointer;
    font-size: 1.3rem;
    color: white;
}

/* استایل عدد 2 روی سبد خرید */

.a-badge-buy {
    font-size: 0.45em !important;
    font-weight: 900 !important;
    vertical-align: top!important;
    border-radius: 1.25rem !important;
    position: absolute!important;
    top: 3.4rem !important;
}

@media only screen and (max-width:575px) {
    .a-badge-buy {
        font-size: 0.45em !important;
        font-weight: 900 !important;
        vertical-align: top!important;
        border-radius: 1.25rem !important;
        position: absolute!important;
        top: 10rem !important;
        ;
    }
}

@media only screen and (max-width:301px) {
    .a-badge-buy {
        font-size: 0.45em !important;
        font-weight: 900 !important;
        vertical-align: top!important;
        border-radius: 1.25rem !important;
        position: absolute!important;
        top: 10.7rem !important;
    }
}

@media only screen and (max-width:214px) {
    .a-badge-buy {
        font-size: 0.45em !important;
        font-weight: 900 !important;
        vertical-align: top!important;
        border-radius: 1.25rem !important;
        position: absolute!important;
        top: 13rem !important;
    }
}
/* خط زیر هدر بالا */
.a-border-bottom{
    border-bottom: 1px solid #45454575!important;
}
/* سایز فونت و اندازه width هدر بالا ثابت */

@media only screen and (max-width:600px) {
    .a-width-text-header {
        width: 30% !important;
        text-align: center !important;
    }
}

@media only screen and (max-width:357px) {
    .a-width-text-header {
        font-size: 0.9rem !important;
        width: 29.2% !important;
        text-align: center !important;
    }
}

@media only screen and (max-width:339px) {
    .a-width-text-header {
        font-size: 0.8rem !important;
        width: 30.5% !important;
        text-align: center !important;
    }
}

/* سایز فونت و اندازه width هدر بالا ثابت */

/* __________________________________________ */

/* خط های زیر عناوین فهرست */

.a-satyl-list {
    width: 45%;
    margin-top: 1rem;
    border-bottom: 4px solid rgb(255, 204, 0);
    box-shadow: 0px 0px 20px 1px rgb(255, 204, 0);
}

.a-satyl-list-2 {
    width: 70%;
    margin-top: 1rem;
    border-bottom: 4px solid rgb(255, 204, 0);
    box-shadow: 0px 0px 20px 1px rgb(255, 204, 0);
}

.a-satyl-list-3 {
    width: 50%;
    margin-top: 1rem;
    border-bottom: 4px solid rgb(255, 204, 0);
    box-shadow: 0px 0px 20px 1px rgb(255, 204, 0);
}

/* خط های زیر عناوین فهرست پایان */

.a-letter {
    letter-spacing: 1px !important;
}

.a-text-footer {
    margin-top: 3rem;
    border-top: 2px solid rgba(128, 128, 128, 0.316);
}

.a-line-footer b {
    width: 100% !important;
    border-bottom: 1px solid rgba(179, 179, 179, 0.645) !important;
}

.a-style-text-footer {
    width: 40%;
    margin-top: 1rem;
    border-bottom: 4px solid rgb(255, 204, 0);
    box-shadow: 0px 0px 20px 0px rgb(255, 204, 0);
    border-radius: 5px;
    margin-right: 3.6rem;
}

.a-left-line-1 {
    width: 83%;
    margin-top: 1rem;
    border-bottom: 1px solid rgb(126, 126, 126);
    box-shadow: 0px 0px 20px 0px rgb(67 67 67);
    border-radius: 5px;
}

.a-right-line-2 {
    width: 83% !important;
    margin-top: 1rem;
    border-bottom: 1px solid rgb(126, 126, 126);
    box-shadow: 0px 0px 20px 0px rgb(67, 67, 67);
    border-radius: 5px;
    margin-right: 6rem;
}

.a-text-lg {
    font-size: 1.2rem;
}

/* استایل خط های جدا کننده مطالب سایت */

.a-line-footer1 {
    width: 40%;
    margin-top: 1rem;
    border-bottom: 4px solid rgb(255, 204, 0);
    box-shadow: 0px 0px 20px 0px rgb(255 204 0);
    border-radius: 5px;
    margin-right: 3.5rem;
}

@media only screen and (max-width:575px) {
    .a-line-footer1 {
        width: 100% !important;
        margin-right: 0px !important;
    }
}

.a-line-footer2 {
    width: 40%;
    margin-top: 1rem;
    border-bottom: 4px solid rgb(255, 204, 0);
    box-shadow: 0px 0px 20px 0px rgb(255 204 0);
    border-radius: 5px;
    margin-right: 3.4rem;
}

.a-right-line-footer2 {
    margin-top: 1rem;
    border-bottom: 1px solid rgb(102, 102, 102);
    box-shadow: 0px 0px 20px 0px rgb(67 67 67);
    border-radius: 5px;
    width: 100%;
}

.a-left-line-footer2 {
    margin-top: 1rem;
    border-bottom: 1px solid rgb(102, 102, 102);
    box-shadow: 0px 0px 20px 0px rgb(67 67 67);
    border-radius: 5px;
    width: 100% !important;
}

/* پایان استایل خط های جدا کننده مطالب سایت */

/* ___________________________________________ */

/* باکس جستجو */

.a-search-bar {
    width: 70% !important;
    margin-right: 3rem !important;
    bottom: 50% !important;
    border-radius: 1.4rem !important;
    height: 48px !important;
}

@media only screen and (max-width:865px) {
    .a-search-bar {
        margin-right: 0% !important;
    }
}

@media only screen and (max-width:575px) {
    .a-search-bar {
        width: 100% !important;
        margin-right: 0% !important;
    }
}

/* 
@media only screen and (max-width:575px) {
    .a-icon-buypro {
        width: 100% !important;
        text-align: center !important;
    }
}

.a-icon-buypro {
    margin: auto !important;
} */

.input-group-prepend {
    margin-top: 0.3rem !important;
}

.a-btn-pad-left {
    padding-right: 2rem !important;
    padding-top: 0.8rem;
}

.a-btn-pad-left:focus {
    box-shadow: none !important;
}

.a-btn-search:focus {
    box-shadow: none !important;
}

.a-btn-search:hover {
    background-color: rgba(210, 204, 192, 0.648)!important;
    border-radius: 2rem !important;
}

@media only screen and (max-width:575px) {
    .a-icon-buypro {
        width: 100% !important;
        text-align: center !important;
    }
}

.a-icon-buypro {
    margin: auto !important;
}

.input-group-prepend {
    margin-top: 0.3rem !important;
}

.a-btn-pad-left {
    padding-right: 2rem !important;
    border-radius: 2rem !important;
}

/* باکس جستجو */

.a-bg-secondary-tabbar2 {
    background-color: #434444ba!important;
    border-color: none !important;
}

.line-height {
    margin-top: -3rem !important;
}

/* استایل اسلایدر زرد اخر صفحه */

/* اندازه عکس های کوچک */

.a-border-tire1 {
    border: 2px solid black !important;
    border-radius: 1rem !important;
    padding: 1.4rem;
    width: 90%;
    height: 26%;
}

.a-border-tire2 {
    border: 2px solid black !important;
    border-radius: 1rem !important;
    padding: 1.4rem;
    width: 90%;
    height: 26%;
}

.a-border-tire3 {
    border: 2px solid black !important;
    border-radius: 1rem !important;
    padding: 1rem;
    width: 90%;
    height: 26%;
}

/* عکس بزرگ سمت چپ صفحه */

.a-hei-back-tire {
    border-radius: 2rem !important;
    height: 90%;
    box-shadow: 14px 20px 20px 7px #00000033;
}

.a-image-tire {
    width: 80%;
    height: 100%;
    padding: 10%;
    padding-left: 0rem;
    padding-right: 4rem;
}

/* استایل دکمه زیر تصویر */

.a-btn-img {
    border-radius: 1.1rem !important;
    box-shadow: 0px 0px 5px black;
    width: 32.2% !important;
}

.a-margin-top9 {
    margin-top: -1.5rem !important;
}

.a-margin-top {
    margin-top: -1.5rem !important;
}

.a-mt-5 {
    margin-top: 5rem !important;
}

@media only screen and (max-width:575px) {
    .a-mt-5 {
        text-align: center !important;
    }
}

.a-bi-icon {
    margin: -0.6rem;
    padding: 2.8%;
    padding-bottom: 0%;
    padding-top: 2%;
    font-size: 1.4rem;
    border: 2px solid white;
    border-radius: 1rem;
    float: left;
}

.a-widthbtn-yellow {
    width: 90%;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 20px 0px rgb(255 204 0 / 32%);
}

.a-widthbtn-yellow:hover {
    box-shadow: 0px 0px 5px #a87e00 !important;
}

/* استایل لیست مشخصات */

.a-list-border {
    border-radius: 1rem;
    box-shadow: 0px 0px 20px #00000030;
}

.a-list-item {
    position: relative !important;
    display: block !important;
    text-decoration: none !important;
    background-color: #fff !important;
    padding: 1rem 1rem !important;
    border-bottom: 2px solid rgb(131 131 131 / 13%) !important;
    width: 95%;
    margin-right: 1.8rem;
}

/* بخش نظرات  */

.a-Comments {
    border-radius: 1rem;
    padding: 4rem;
    padding-right: 17px;
    line-height: 2rem;
    box-shadow: 0px 0px 20px #00000030;
    color: #212529;
}

/* باکس نظرات */

.a-Comments-in:focus {
    border: none;
}

.a-Comments-in {
    border-radius: 1.5rem;
    padding: 4rem;
    padding-top: 2rem;
    margin: 2rem;
    margin-right: 0rem;
    margin-top: 3rem;
    width: 100%;
    background-color: #72727278;
    border: none;
    outline: none;
    color: lightcyan;
}

.a-comment-box {
    border-radius: 1rem !important;
}

/* دکمه ثبت نظرات */

.a-btn-comment {
    box-shadow: 0px 0px 20px 0px rgb(255 204 0 / 32%);
    border-radius: 1.5rem !important;
    width: 75% !important;
}

.a-btn-comment:hover {
    box-shadow: 0px 0px 5px #ffc107 !important;
}
.a-font-size {
    font-size: 1rem !important;
    font-family: 'IRANSansWeblight';
    position: relative;
    top: 0.3rem;
}
@media only screen and (max-width: 320px) {
    .a-font-size {
        font-size: 0.7em !important;
        font-weight: bold;
    }
    .a-icon-size {
        margin: 0px !important;
    }
}

@media only screen and (max-width: 575px) {
    .a-btn-img {
        margin-top: 2rem !important;
    }
}

/* @media only screen and (max-width: 575px) {
    .a-size-pic-re{
        max-width: calc(100% - 7rem)!important;
    }
 } */

@media only screen and (max-width: 320px) {
    .a-btn-comment:hover {
        border: 2px solid black !important;
        border-radius: 1rem !important;
        padding: 1.2rem;
        width: 60%;
        height: 20%;
    }
}

@media only screen and (max-width: 575px) {
    .a-satyl-list, .a-satyl-list-2, .a-satyl-list-3 {
        width: 100% !important;
    }
    .a-text-center {
        text-align: center !important;
    }
}

@media only screen and (max-width: 575px) {
    .a-border-tire1, .a-border-tire2, .a-border-tire3 {
        width: calc(90% - 2rem)!important;
        margin-right: 2rem !important;
        text-align: center !important;
    }
}

@media only screen and (max-width: 575px) {
    .a-hei-back-tire {
        margin-right: 1rem !important;
        margin-top: -5rem !important;
    }
}

@media only screen and (max-width: 700px) {
    .a-list-item {
        margin-right: 0.5rem !important;
    }
}

/* .a-wi-col-middle {
    width: 18.8% !important;
} */

@media only screen and (max-width: 768px) {
    .a-btn-img {
        width: 40%!important;
    }
}

@media only screen and (max-width: 575px) {
    .a-btn-img {
        width: 100%!important;
    }
}

@media only screen and (min-width: 1075px) {
    .a-btn-img {
        margin-right: 1.7rem;
        width: 30.3% !important;
    }
}